<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <title>Faresniper</title>
        <link rel="stylesheet" href="tailwind/output.css" />
    </head>
    <body class="h-screen flex">
        {{ template "sidebar" .}}
        <main class="p-4 w-full">
            <h1 class="text-2xl mb-4">Countries</h1>
            <div
                class="overflow-x-auto rounded-box border border-base-content/5 bg-base-100 w-full"
            >
                <table class="table w-full">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Name</th>
                            <th>Code</th>
                        </tr>
                    </thead>
                    <tbody>
                        {{ range .Countries }}
                        <tr>
                            <td>{{ .ID }}</td>
                            <td>{{ .Name }}</td>
                            <td>{{ .CountryCode }}</td>
                        </tr>
                        {{ end }}
                    </tbody>
                </table>
            </div>
            <div class="py-4 flex justify-end">
                {{ template "pagination" . }}
            </div>
        </main>
    </body>
</html>
