{{ define "pagination" }}
<div class="join">
    <a
        class="join-item btn"
        {{
        if
        .PaginationData.HasPrev
        }}
        {{else}}
        disabled
        {{end}}
        href="?page={{ .PaginationData.PrevPage }}"
        >«</a
    >
    {{range .PaginationData.Pages }}
    <a
        class="join-item btn {{ if .IsActive }} btn-active {{ end }}"
        href="?page={{ .Number }}"
        >{{ .Label }}</a
    >
    {{ end }}
    <a
        class="join-item btn"
        {{
        if
        .PaginationData.HasNext
        }}
        {{else}}
        disabled
        {{end}}
        href="?page={{ .PaginationData.NextPage }}"
        >»</a
    >
</div>
{{ end }}
